<ion-header>
    <ion-toolbar>
        <ion-title>
            HotUpdate 36
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button color="primary" (click)="print()">Hello Modern Beauty</ion-button>
    <br>
    <ion-note color="primary">@Ionic-Native / AppVersion</ion-note>
    <br>
    <ion-note color="secondary">appInfo.appName = {{appInfo.appName}} </ion-note>
    <br>
    <ion-note color="danger">appInfo.packageName = {{appInfo.packageName}} </ion-note>
    <br>
    <ion-note color="warning">appInfo.versionCode = {{appInfo.versionCode}} </ion-note>
    <br>
    <ion-note color="primary">appInfo.versionNumber = {{appInfo.versionNumber}} </ion-note>
    <br>
    <br>
    <ion-note color="primary">{{appInfo | json}}</ion-note>

    <ion-note color="primary">device information = {{deviceInfo | json}} </ion-note>

    <ion-item>
        <ion-label>
            Current Version {{curPackage?.appVersion}}, AppCenter Version {{curPackage?.label}}
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-textarea [(ngModel)]="codePushResponse" placeholder="Enter more information here..."></ion-textarea>
    </ion-item>

    <ion-button (click)="checkForUpdate()" expand="block" shape="round" color="success">
        checkForUpdate【Success】
    </ion-button>

    <ion-button (click)="getCurrentPackage()" expand="block" shape="round" color="success">
        getCurrentPackage【Success】
    </ion-button>

    <ion-button (click)="getPendingPackage()" expand="block" shape="round" color="success">
        getPendingPackage
    </ion-button>

    <ion-button (click)="notifyApplicationReady()" expand="block" shape="round" color="success">
        notifyApplicationReady
    </ion-button>

    <ion-button (click)="restartApplication()" expand="block" shape="round" color="success">
        restartApplication
    </ion-button>

    <ion-button (click)="sync()" expand="block" shape="round" color="success">
        sync【success】
    </ion-button>

</ion-content>